.ecm-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1325px;
  height: 90px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 15px;
  background-color: var(--body-backgroundColor);

  &__container {
    width: calc(100% - 225px);
    height: 100%;
    display: flex;
  }

  &__logo {
    display: none;
    position: relative;

    &-hero {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-responsive {
      height: 100%;
      display: none;
      align-items: center;
    }
  }

  &__nav-wrapper {
    display: flex;
    height: 72px;
    background-color: var(--navbar-background-color);
    border-radius: 20px;
    margin-right: 20px;
  }

  &__main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-list {
      display: inline-flex;
      width: 100%;
      max-width: 1000px;
      height: 100%;
      justify-content: space-around;
      padding: 0 5px;
    }

    &-item {
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      position: relative;
      text-align: center;
      align-items: center;
      transition: var(--transtion3);
      margin: 0 15px;

      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        white-space: nowrap;
      }

      &:hover {
        a {
          color: var(--navbar-hover-color);
        }

        .ecm-navbar__link-line {
          background-color: var(--navbar-hover-border-bottom-link-color);
        }

        .ecm-navbar__link-line--alt {
          background-color: var(--navbar-hover-border-bottom-link-color);
        }
      }
    }
  }

  &__active-link {
    color: var(--navbar-active-link-color);
  }

  &__active-line {
    position: absolute;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    width: calc(100% + 10px);
    height: 6px;
    transition: var(--transtion3);
    background-color: var(--navbar-active-link-border-bottom-color);
  }

  &__link-line {
    position: absolute;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    width: calc(100% + 10px);
    height: 6px;
    transition: var(--transtion3);

    &--alt {
      background-color: var(--navbar-border-bottom-link-color);
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 6px;
      position: absolute;
      bottom: 0;
    }
  }

  &__icons {
    display: flex;
    width: 100%;
    max-width: 200px;
    position: absolute;
    right: 30px;
    height: 72px;
    justify-content: flex-end;

    .ecm-navbar__secondary-nav {
      display: flex;
      width: 220px;
      border-radius: 20px;
      justify-content: space-around;
      justify-content: flex-end;

      &-list {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  &__icon-item {
    list-style: none;
    display: flex;
    align-items: center;
    transition: var(--transtion3);
    margin: 0 15px;
    background-color: var(--navbar-icon-background-color);
    padding: 5px;
    border-radius: 25vh;
    cursor: pointer;

    &--notification {
      position: relative;

      &-number {
        background-color: var(--nav-notification-icon-background);
        position: absolute;
        border-radius: 25vh;
        top: -28%;
        right: -25%;
        font-size: var(--font-size-number);
        padding: 3px 6px;
        color: var(--color-notification);
      }

      &:hover {
        color: var(--navbar-icon-hover-color);
        background-color: var(--navbar-icon-hover-background-color);
      }
    }

    &--arrow {
      display: none;

      &:hover {
        color: var(--navbar-icon-hover-color);
        background-color: var(--navbar-icon-hover-background-color);
      }
    }

    &--settings {
      &:hover {
        color: var(--navbar-icon-hover-color);
        background-color: var(--navbar-icon-hover-background-color);
      }
    }

    &--more {
      &:hover {
        color: var(--navbar-icon-hover-color);
        background-color: var(--navbar-icon-hover-background-color);
      }
    }
  }

  &__dropdown-menu {
    width: 275px;
    background-color: var(--navbar-background-color);
    position: absolute;
    flex-direction: column;
    height: calc(100vh - 90px);
    z-index: 600;
    top: 65px;
    overflow-y: auto;
    overflow-x: hidden;
    right: -2px;
    border-radius: 0 0px 20px 20px;
    padding-top: 5px;
    color: var(--navbar-text-primary-color);
    cursor: auto;
    

    &--hidden {
      display: none;
    }

    &-item a {
      height: 35px;
      border-radius: 5px;
      transition: var(--transtion3);
      display: flex;
      align-items: center;
      padding-left: 25px;

      &:hover {
        background-color: var(--navbar-hover-background-color);
        color: var(--navbar-hover-text-color);
      }

      &__dropdown-text {
        width: 100%;

        a {
          display: block;
          width: 100%;
        }
      }
    }

    &-logout-item {
      display: flex;
      padding: 0.5rem 1rem;
      justify-content: space-between;
      transition: var(--transtion2);
      border-bottom: 0.1vw solid var(--navbar-drop-down-logout-section-border-bottom-color);

      &-text {
        display: flex;
        align-items: center;
      }

      &-user {
        margin-left: 5px;
      }

      &-icon {
        background-color: var(--navbar-drop-down-logout-section-icon-background-color);
        padding: 5px;
        border-radius: 25vh;
        transition: var(--transtion2);
        cursor: pointer;

        &:hover {
          color: var(--navbar-icon-hover-color);
          background-color: var(--navbar-drop-down-logout-section-hover-icon-background-color);
        }
      }
    }
  }

  &__dropdown-notification {
    background-color: var(--navbar-background-color);
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 52px;
    right: -135px;
    color: var(--navbar-text-primary-color);
    z-index: 601;
    border-radius: 0 0px 20px 20px;
    overflow-y: auto;
    cursor: auto;

    li {
      padding: 0.3rem 0.8rem;
      text-align: left;
      list-style: none;

      a {
        padding: 0;
        padding-left: 5px;
        border-bottom: 1px solid #ccc;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: var(--navabr-notification-drop-down-li-item-background-color);
        color: var(--navbar-notification-drop-down-link-text-color);
        text-decoration: none;

        &:hover {
          background-color: var(--navabr-notification-drop-down-li-item-hover-background-color);
        }
      }
    }
  }
}

.ecm-navbar > .material-icons {
    font-size: var(--navbar-icon-size);
}

@media (max-width: 1590px) {
  .ecm-navbar {
    &__nav-wrapper {
      margin-right: 20px;
    }
  }
}

@media (max-width: 1527px) {
  .ecm-navbar {
    &__main-nav-list {
      display: none;
    }
  }
}

@media (max-width: 712px) {
  .ecm-navbar {
    &__container {
      width: calc(100% - 300px);
      height: 100%;
      display: flex;
    }

    &__logo {
      display: flex;
      position: relative;

      &-hero {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    &__icon-item {
      &--arrow {
        display: flex;
      }
    }
  }
}

@media (max-width: 475px) {
  .ecm-navbar {
    &__logo {
      &-hero {
        display: none;
      }

      &-responsive {
        display: flex;
      }
    }
  }
}

