.p-dialog-content {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    
}

.p-select {
    width: 250px;
}

.p-inputtext {
     width: 250px;
}

.p-field {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px !important;
}

.p-dialog {
    width: 450px !important
}

