.alarm-detail th:last-child {
  border-radius: 0 25px 25px 0;
  border: 1px;
}

.alarm-detail {
  background-color: var(--background-alarm-table);
  padding: 30px 20px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  &__cell {
    &--name {
      text-align: center;
    }

    &--status {
      text-align: center;
    }

    &--actions {
      text-align: center;
      align-items: center;
    }
  }

  &__cell--actions {
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
      margin: 0 5px;

      &:hover {
        background-color: white;
      }
    }
  }

  &__icon {
    padding: 3px;
    border-radius: 5px;
    background-color: var(--aside-navbar-icon-primary-color);
    color: var(--iconBg-table);
    cursor: pointer;
  }

  &__status--alarm {
    display: flex;
    background-color: var(--alarmStatus);
    border-radius: 25vh;
    font-size: 13px;
    width: 60px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__status--ok {
    display: flex;
    background-color: var(--oktatus);
    border-radius: 25vh;
    font-size: 13px;
    width: 60px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  td {
    padding: 15px;
  }
}
