//layouts
@import 'layouts/header.scss';
@import 'layouts/aside.scss';
@import 'layouts/navbar.scss';
@import 'layouts/main.scss';
//pages
@import 'pages/alarms.scss';
@import 'pages/dailyPlans.scss';
@import 'pages/reports.scss';
@import 'pages/login.scss';
@import 'pages/summaries.scss';
//components ecm-marfy
//main sections
@import 'components/ecm-marfy/components-sections/production.scss';
@import 'components/ecm-marfy/components-sections/consumption.scss';
@import 'components/ecm-marfy/components-sections/economic-performance.scss';
@import 'components/ecm-marfy/components-sections/banner.scss';
//alarm components
@import 'components/ecm-marfy/components-alarms/table.scss';
//reports components
@import 'components/ecm-marfy/components-reports/table.scss';
//summaries components
@import 'components/ecm-marfy/components-summaries/total-consumption-energy-component.scss';
@import 'components/ecm-marfy/components-summaries/total-consumption-grid-component.scss';
@import 'components/ecm-marfy/components-summaries/total-supply-battery-component.scss';
@import 'components/ecm-marfy/components-summaries/total-supply-grid-component.scss';
//devices components
@import 'components/ecm-marfy/components-devices/ecm-deviceBox-component.scss';
//aside components
@import 'components/ecm-marfy/components-aside/select.scss';
//modal windows components
@import 'components/ecm-marfy/components-modal-window/primary-modal-windou.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--body-backgroundColor);
}

.ecm-layout {
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;

  &__default {
    width: 100%;
    max-width: 1663px;
  }

  &__full-width {
    width: 100%;
    max-width: none;
  }

  &__container {
    &--default {
      width: 100%;
      max-width: 1290px;
    }

    &--full-width {
      width: 100%;
      max-width: none;
    }
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

thead th {
  background-color: var(--tableHeaderBackground);
  text-align: center;
}

thead tr th:first-child {
  border-radius: 25px 0 0 25px !important;
}

thead tr th:last-child {
  border-radius: 0 25px 25px 0 !important;
}

.tbody,
td {
  color: var(--text-table);
}

td {
  border-bottom: 1px solid var(--tableBorderBottom);
}

td,
th {
  text-align: left;
  padding: 25px;
  font-weight: 100;
}

th {
  color: var(--tableHeaderColor);
}

// dynamicke tridy components-sectios
.dynamic-margin {
  margin: 15px 0px !important;
}

// dynamicke tridy banner

.dynamic-fontSize-v1 {
  font-size: 25px;
}

.dynamic-fontSize-v2 {
  font-size: 12px;
}

// scrollbar
::-webkit-scrollbar {
  position: absolute;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-hndl);
}

// toggle display block

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

:root {
  // Layout
  --body-backgroundColor: #191d23;
  --body-backgroundColorBlur: #f5f6f7cb;
  --ecm-title: #fff;

  // ECM Marfy Layout components

  // Navbar
  --navbar-background-color: #ffffff;
  --navbar-text-primary-color: #191d23;
  --navbar-text-secondary-color: #eb3443;
  --navbar-hover-color: #eb3443;
  --navbar-hover-background-color: #eb3443;
  --navbar-hover-text-color: #ffffff;
  --navbar-active-link-color: #eb3443;
  --navbar-hover-border-bottom-link-color: #eb3443;
  --navbar-active-link-border-bottom-color: #eb3443;
  --navbar-border-bottom-link-color: #e7eaee;
  --navbar-icon-background-color: #e7eaee;
  --navbar-icon-hover-color: #fff;
  --navbar-icon-hover-background-color: #191d23;
  --navbar-drop-down-logout-section-border-bottom-color: #dfe1e6;
  --navbar-drop-down-logout-section-icon-background-color: #e7eaee;
  --navbar-drop-down-logout-section-hover-icon-background-color: #191d23;
  --navbar-notification-drop-down-link-text-color: #191d23;
  --navabr-notification-drop-down-li-item-background-color:rgba(255, 0, 0, 0.089);
  --navabr-notification-drop-down-li-item-hover-background-color: rgba(255, 0, 0, 0.2);

  // Navbar Icons
  --navbar-icon-size: 26px;

  // Navbar notification icons
  --nav-notification-icon-background: #eb3443;
  --color-notification: #fff;
  --font-size-number: 13px;

  // AsideNavBar color
  --aside-navbar-background-logo-element-color: #eb3443;
  --aside-navbar-background-color: #1f262e;
  --aside-navbar-icon-primary-color: #ccd2da;
  --aside-navbar-icon-secondary-color: #eb3443;
  --aside-navbar-hover-item-list-color: #48aeed;
  --aside-navbar-arrow-color: #eb3443;
  --aside-navbar-item-list-background: #1f262e;
  --aside-navbar-hover-background-color: #eb3443;
  --aside-navbar-hover-text-color: #ffffff;
  --aside-navbar-item-background-color: transparent;
  --aside-navbar-line-item-color: #383c41;
  --aside-navbar-text-color: #a0abbb;
  --aside-navbar-resize-color: #a0abbb;
  --aside-navbar-arrow-hover-color: #ffffff;
  --aside-navbar-footer-primary-text-color: #41597d;
  --aside-navbar-footer-secondary-color: #ffffff;
  --aside-navbar-close-button-background-color: #ffffff;
  --aside-navbar-close-button-border-color: #000000;
  --aside-navbar-search-input-background-color: #ffffff;
  --aside-navbar-search-input-focus-background-color: #f0f0f0;
  --aside-navbar-search-input-focus-text-color: #000000;
  --aside-navbar-search-input-placeholder-color: #aaa;
  --aside-navbar-spiner-color: #191d23;
  --aside-navbar-border-top: #eb3443;

  // mainSelect
  --aside-select-container-background: #fff;
  --aside-select-text-color-hover: #fff;
  --aside-select-hover-text-color: #eb3443;

  //components

  // Banner
  --banner-container-background: #202e44;
  --banner-dot-active: #eb3443;
  --banner-dot-inactive: #492f43;

  --banner-hero-title-color: #fff;
  --banner-title-color: #eb3443;
  --banner-button-background: #eb3443;
  --banner-text-color: #fff;
  --baner-icon-border: #fff;
  --banner-close-icon-color: #fff;

  // Production container component
  --production-Background: #a7f3d0;
  --production-IconWrap-bg: #10b981;
  --productionIcon-color: #a7f3d0;
  --production-textColor: #064e3b;

  // Consumption container component
  --consumption-Background: #fde68a;
  --consumption-IconWrap-bg: #f59e0b;
  --consumptionIcon-color: #fde68a;
  --consumption-textColor: #78350f;

  // economic-performance container component
  --economic-performance-Background: #1f262e;
  --economic-performance-IconWrap-bg: #505051;
  --economic-performance-color: #a0abbb;
  --economic-performance-mainValue-color: #eb3443;
  --economic-performance-textColor: #fff;

  // Components-devices
  --devices-battery-charge-color: #f59e0b;
  --devices-energy-consumption-color: #10b981;
  --devices-energy-output-color: #10b981;
  --devices-title-color: #ffffff;
  --devices-link-color: #ffffff;
  --devices-button-background: #303945;
  --devices-container-background: #1f262e;
  --devices-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --devices-border-color: #3c4d67;
  --devices-heading-color: #a0abbb;
  --devices-hover-icon-background-color: #fff;
  --devices-hover-icon-color: #000;

  //component total supplyGrid
  --totalValuesColor: #57657a;

  //component total supplyFromBattery
  --supblyFromBattery: #98a3b2;

  //component total consumptionGrid
  --consumptionGridValue: #f59e0b;

  //component total consumptionEnergy
  --consumptionEnergyValue: #eb3443;

  //selection Periods
  --selectionPeriodsBg: #eb3443;

  //login
  --login-container-bacground: #e7ecf3;
  --login-input-border-color: rgb(206, 205, 205);
  --login-submit-button-background-color: #eb3443;
  --login-submit-button-text-color: #fff;
  --login-hover-submit-button-background-color: #fff;
  --login-hover-submit-button-text-color: #eb3443;
  --login-input-icon-show-password-color: #eb3443;
  --login-hover-input-icon-background-color: #eb3443;
  --login-link-text-color: #eb3443;
  --login-hover-link-text-color: #b90b1a;

  // dailyPlans
  --dailyPlansBgContainer: #1f262e;
  --btnBgDailyPlans: #1f262e;
  --btnBorderDailyPlans: #3c4d67;
  --colorIconDpCheck: #10b981;
  --colorIconDpPower: #eb3443;

  // Alarms
  --btnBgSelectAlarms: #1f262e;
  --btnBorderAlarms: #3c4d67;
  --alarmStatus: #eb3443;
  --oktatus: #10b981;
  --background-alarm-table: #1f272f;

  //table
  --tableHeaderColor: #a0abbb;
  --tableHeaderBackground: #303945;
  --tableBorderBottom: #303945;
  --tableAlarmBg: #eb3443;
  --tableOkBg: #10b981;
  --iconBg-table: #303945;
  --text-table: #fff;

  //transition
  --transtion1: 0.1s;
  --transtion2: 0.2s;
  --transtion3: 0.3s;

  //FontSize
  // Banner
  --heroTitle: 50px;
  --balanceContainer-value: 30px;
  //Title Section
  --titleSection: 30px;

  // scrollbar
  --scrollbarBackground: #c9c9c9;
  --scrollbarColor: #d5d9dd;

  //handle
  --background-hndl: #535860;

  //Track
  --background-track: #2a3037;
}

//.ecm_dark-theme
